*.VC.db
.vs/
.vscode/
Binaries/
Intermediate/
Saved/
/MineBlast.sln

/VSProject_GetMeshInfoCSV/GetMeshInfo/Debug/
/VSProject_GetMeshInfoCSV/Debug/GetMeshInfo.exe
/VSProject_GetMeshInfoCSV/Debug/GetMeshInfo.ilk
/VSProject_GetMeshInfoCSV/Debug/GetMeshInfo.pdb